.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 1000;
    display: flex;
    justify-content: center;
  }
  
  .modal {
    position: fixed;
    top: 5%;
    width: 70%;
    height: 90%;
    background-color: #fff;
  }
  
  .modal-header {
    background-color: rgb(49, 116, 173);
    color: #fff;
    margin-top: -2.5%;
    height: 5%;
    padding-left: 15px;
  }
  
  .modal-header p {
    font-size: 18px;
  }

  .modal-body {
    display: flex;
    height: 100%;
  }

  .modal-left {
    flex: 1;
    background-color: lightpink;
    padding-left: 5%;
  }

  .modal-input {
    height: 15%;
    width: 80%;
    text-align: left;
  }

  .modal-label {
    font-size: 25px;
    color: rgb(49, 116, 173);
    font-weight: 600;
  }

  .modal-select {
    width: 100%;
    padding: 10px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 1px solid #ccc; /* Borda */
    border-radius: 20px; /* Cantos arredondados */
    background-color: #fff; /* Cor de fundo */
    color: #333; /* Cor do texto */
  }

  .modal-right {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }

  .modal-add-pay {
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .modal-add-pay-button {
    width: 50px;
    height: 50px;
    background-color: lightpink;
    border-radius: 50px;
    margin: auto;
    font-size: 35px;
    color: rgb(49, 116, 173);
    font-weight: 600;
    cursor: pointer;
  }

  .modal-add-pay-label {
    margin: auto;
    font-size: 16px;
    color: rgb(49, 116, 173);
    font-weight: 600;
  }
  
  .modal-footer {
    margin-top: 10%;
    height: 5%;
    width: 80%;
    padding-left: 5px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .modal-footer .modal-salvar {
    height: 100%;
    width: 30%;
    padding: 5px 20px;
    margin-right: 5px;
    border-radius: 20px;
    background-color: rgb(49, 116, 173);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
  }
  
  .modal-footer .modal-fechar {
    height: 100%;
    width: 30%;
    padding: 5px 20px;
    margin-right: 5px;
    border-radius: 20px;
    background-color: #eee;
    color: rgb(49, 116, 173);
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
  }

  .modal-footer .modal-delete {
    height: 100%;
    width: 30%;
    padding: 5px 20px;
    margin-right: 5px;
    border-radius: 20px;
    background-color: red;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
  }

  .input-payment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .payment-input {
    height: 10%;
    width: 80%;
    text-align: left;
    flex: 1;
    margin: auto;
  }

  .payment-label {
    font-size: 15px;
    color: lightpink;
    font-weight: 600;
  }

  .payment-field {
    width: 100%;
    padding: 5px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 1px solid #ccc; /* Borda */
    border-radius: 20px; /* Cantos arredondados */
    background-color: #fff; /* Cor de fundo */
    color: #333; /* Cor do texto */
  }